flake8==7.1.2
stripe==11.6.0
paypalrestsdk==1.13.3
squareup==41.0.0.20250319
python-dotenv==1.0.1
qiskit==1.4.2
qiskit-optimization==0.6.1
qiskit-algorithms==0.3.1
fastapi==0.115.11
uvicorn[standard]
websockets==15.0.1
sqlalchemy[asyncio]
asyncpg==0.30.0
pydantic==2.10.6
python-multipart==0.0.20
redis==5.2.1